.mainscreen {
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    padding: 6px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.main__search {
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

.search__div {
    width: 100%;
    max-width: 310px;
    height: 42px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.main__search > div > input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    background-color: #1E263B;
    outline: none;
    border: 0;
    box-shadow: inset 0px 4px 4px #00000025;
    color: #fff;
    font-family: 'Red Rose', cursive;
    font-weight: 600;
    font-size: 0.9em;

}
.main__search > div > input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }

.search__div > .MuiSvgIcon-root {
    position: absolute;
    right: -4px;
    top: 0;
    background-color: #292F3F;
    height: 100%;
    width: 55px;
    z-index: 1;
    padding: 3px;
    box-shadow: inset 0px 4px 4px #00000025;
    cursor: pointer;
}

.all__chats{
    width: 100%;
    max-width: 410px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
}
.all__chats > a {
    text-decoration: none !important;
    color: inherit;
}
.all__chats::-webkit-scrollbar {
    width: 3px;
    background-color: #292F3F;
}

.all__chats::-webkit-scrollbar-thumb {
    background-color: #1E263B;
}

.all__chats::-webkit-scrollbar-button {
    opacity: 0;
}

.chat__card {
    width: 100%;
    height: 70px;
    background-color: #1E263B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.chat__card > .profile {
    width: 43px;
    height: 40px;
    border-radius: 50%;
    background-color: pink;
    box-shadow: inset 0px 4px 4px #00000025;
}

.chat__card > .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    
}
.chat__card > .info > span {
    font-size: 1.2em;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}
.chat__card > .info > p {
    font-size: 0.6em;
    font-weight: 100;
    color: lightblue;
    font-family: 'Arapey', serif;
}