.App {
  background-color: #292F3F;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #292F3F;
}

.logo {
  font-family: 'Qwigley', sans-serif;
}

@media screen and (min-width: 750px) {
  .App {
    max-width: 450px;
  }  
}